<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>事件绑定</title>
    <script src="js/vue.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
<div id="app">
    <div class="border">
        <p>按键修饰符：</p>
        <input type="text" v-model="message" v-on:keyup.delete="handleClear"></input>
        <input type="button" value="按钮" v-on:click="handleClear"></input>
    </div>
    <div class="border">
        <p>自定义按键修饰符</p>
        <input type="text" v-model="keyboradmsg" v-on:keyup.a="handleKeyBorad"></input>
        <p>{{keyboradmsg}}</p>
    </div>
</div>

<script type="text/javascript">
    Vue.config.keyCodes.a = 65
    var app = new Vue({
        el:"#app",
        data:{
            message: '',
            keyboradmsg:'',
        },
        methods:{
            handleKeyBorad: function(event){
                this.keyboradmsg='你按下的a键'
            },
            handleClear:function (event) {
                this.message=''
                console.log("点击了handleClear")
            }
        }
    })
</script>
</body>
</html>