<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>用例</title>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@0.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vue.js" charset="utf-8"></script>

    <link href="style/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
<div id="app">
    <div class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                <li v-for="item in navitems"><a href="#" v-on:click="handleNavClick(item.param)">{{item.name}}</a></li>
            </ul>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-3 left-column">
                <div class="list-group">
                    <!--                <a v-for="item in list" v-bind:class="{'list-group-item':true, 'disabled':item.disable}"-->
                    <!--                    :href="item.url" :target="item.target != null ? item.target : 'inframe'">{{item.name}}</a>-->
                    <a v-for="item in list[curselect]" v-bind:class="['list-group-item', item.disable ? 'disabled' :'']"
                       :href="item.url" :target="item.target != null ? item.target : 'inframe'">{{item.name}}</a>
                </div>

            </div>
            <div class="col-xs-9 center-column">
                <iframe name="inframe" src="" frameborder="0" scrolling="no">
                    center
                </iframe>
            </div>
        </div>

<!--        <div id="app">-->
<!--            {{ message }} {{1+2}}-->
<!--            <input type="button" value="button" @click="say"/>-->
<!--            <div v-text="message"></div>-->
<!--        </div>-->
<!--        <script type="text/javascript">-->
<!--            const app = new Vue({-->
<!--                el: "#app",-->
<!--                data: {-->
<!--                    message: 'Hello Vue!',-->
<!--                    count: 1,-->
<!--                },-->
<!--                methods: {-->
<!--                    say: function (event) {-->
<!--                        if (this.count % 2 === 0)-->
<!--                            this.message = this.count + '这是偶数'-->
<!--                        else-->
<!--                            this.message = this.count + "这是奇数"-->
<!--                        this.count++;-->
<!--                    }-->
<!--                }-->
<!--            });-->

<!--        </script>-->
    </div>
</div>
<script type="text/javascript">
    const v2=new Vue({
        el: '#app',
        data: {
            curselect: 'bootstrap',
            list: {
                bootstrap: [
                    {name: "bootstrap", url: '#', disable: true, target: ''},
                    {name: "新闻站点", url: 'bootstrap/newsweb/index.html'},
                    {name: "demo0", url: 'bootstrap/demo1/index.html'},
                ],
                css: [
                    {name: "css示例", url: '#', disable: true, target: ''},
                    {name: "响应式边栏导航", url: 'examples/navbar/navbar1.html', target: '_blank'},
                    {name: "导航下拉菜单", url: 'examples/navbar/navbar2.html'},
                ]
            },
            navitems:[
                {name:'bootstrap', param:'bootstrap'},
                {name:'css', param:'css'},
            ]
        },
        methods:{
            handleNavClick: function (selected) {
                this.curselect=selected;
                console.log('select nav:' + selected)
            }
        }
    });
</script>
</body>

</html>
