* {
    margin: 0px;
}

div {
    background: antiquewhite;
    width: 500px;
    height: auto;
}

.border{
    border: burlywood 1px solid;
    background: rgba(255,255,255,0);
    margin-bottom: 2px;
}